<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Ticket Card</title>
</head>
<body>
    <%- include('navbar') %> 

    <div class="container"id='container-ticketcard' >

       
           
            <div class="col col-4 col-sm-10" >
                <h3 class="oneWayForm"> Mes dernières commandes : </h3>
                    
                <table class="table">
                    
                      
                    
                    <tbody>
                      <tr class="list borderless">
                        <th scope="col">N°</th>
                        <th scope="col">Journey</th>
                        <th scope="col">Date</th>
                        <th scope="col">Departure time</th>
                        <th scope="col">Price</th>
                      </tr>
                      <% 
                      let total = 0;
                      for (let i = 0; i < userJourney.length; i++) {
                      %>
                      <tr  class="list borderless">
                        <th scope="row"><%= (i + 1) %></th>
                        <td><%=userJourney[i].departure%> / <%=userJourney[i].arrival%> </td>
                        <td><%=userJourney[i].date%></td>
                        <td><%=userJourney[i].departureTime%></td>
                        <td><%=userJourney[i].price%> €</td>
                      </tr>
                      <% 
                        total += userJourney[i].price;
                      }
                      %> 
                      
                      
                      <tr class="table-danger">
                        <th scope="row">Total</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><%= total %> €</td>
                      </tr>
                      
                    </tbody>
                  </table>
                <a href="/confirm" id="confirm-button" class="btn btn-danger">Confirm</a>
            </div>  

       

        

    </div>
    <%- include('copyright') %> 

</body>
</html>